.container {
  display: flex;
  flex-direction: row;
  /* width: 100vw; */
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1px;
}

.toggles {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.toggles label {
  margin: 0 10px 0 10px;
}

.item {
  border-radius: 5px;
  width: 38px;
  height: 38px;
  display: flex;
  background-color: #2e3035;
  color: crimson;
  align-items: center;
  justify-content: center;
  transition: height 1s, width 1s, border-radius 1s, transform 1s;
  /* animation-name: backgroundColorPalette2;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear; */
}

.selected-item {
  border-radius: 50px;
  width: 38px;
  height: 38px;
  display: flex;
  color: crimson;
  align-items: center;
  justify-content: center;
  transition: height 1s, width 1s, border-radius 1s, background-color 2s,
    transform 1s;

  animation-name: backgroundColorPalette;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  /* linear is enabled default, it’s not necessary to add it make it work but it can make your code more expressive */
}

@keyframes backgroundColorPalette {
  0% {
    background: #003049;
  }
  25% {
    background: #d62828;
  }
  50% {
    background: #f77f00;
  }
  75% {
    background: #fcbf49;
  }
  100% {
    background: #eae2b7;
  }
}

@keyframes backgroundColorPalette2 {
  0% {
    background: #282c34;
  }
  100% {
    background: rgb(77, 77, 77);
  }
}
